@import 'tailwindcss';
@import 'tailwindcss-safe-area';

@plugin '@tailwindcss/forms';
@plugin 'tailwind-scrollbar';

@theme {
	--font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

html {
	background: #f8fafc;
}

body {
	margin: 0;
}
